* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

body {
  background: #050b1a;
  color: #e5e7eb;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 32px;
  background: #020617;
}

.nav h1 {
  color: #38bdf8;
}

.nav a {
  color: #e5e7eb;
  margin-left: 16px;
  text-decoration: none;
}

.btn {
  background: #38bdf8;
  padding: 8px 16px;
  border-radius: 6px;
  color: #020617 !important;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 42px;
  color: #38bdf8;
}

.hero p {
  margin-top: 12px;
  color: #9ca3af;
}

/* SEARCH */
.search-box {
  background: #020617;
  max-width: 800px;
  margin: auto;
  padding: 24px;
  border-radius: 14px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.search-box input,
.search-box button {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.search-box button {
  background: #38bdf8;
  font-weight: bold;
}

/* CARDS */
.card {
  background: #020617;
  padding: 20px;
  border-radius: 14px;
  margin: 16px 0;
}

/* BUTTON */
.primary {
  background: #38bdf8;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* TICKET */
.ticket {
  max-width: 420px;
  margin: 80px auto;
  background: #020617;
  padding: 24px;
  border-radius: 16px;
}